<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'home'" [routerLinkActive]="'active'">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'employees'" [routerLinkActive]="'active'">Employees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'attendance'" [routerLinkActive]="'active'">Attendance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'leave-tracker'" [routerLinkActive]="'active'">Leave Tracker</a>
        </li>
    </ul>
</nav>  